<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>よちよちハッカソン</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="header">
            <h1>random travel</h1>
        </div>
        <div class="main">
            <div align="center">

                <div class="relative">
                    <img src="yochi_17.png" width="1300" height="1400">
                    <div class="absolute">
                        <img src="car.PNG" class="keyframe3 animation" width="200" height="200">
                    </div>
                    <div class="absolute_2">
                        <img src="1223_6_plane.PNG" class="keyframe1 animation" width="400" height="400">
                    </div>
                    <div class="absolute_3">
                        <img src="1223_5_train.PNG" class="keyframe2 animation" width="500" height="500">
                    </div>
                    <div class="absolute_4">
                        <img src="1223_2_girl.PNG" width="400" height="550">
                    </div>
                    <div class="absolute_5">
                        <img src="1223_11_kikyuu.PNG" class="keyframe4 animation" width="300" height="305">
                    </div>
                    <div class="absolute_6">
                        <img src="1223_12_kikyuu.PNG" class="keyframe5 animation" width="400" height="405">
                    </div>
                </div>
                <button class="gradient">冒険をスタート</button>
            </div>
        </div>
            
        <div class="footer">

        </div>
</html>
